<section class="gradient-custom eee">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div
            class="card shadow-2-strong card-registration mb-5"
            style="border-radius: 15px"
          >
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center" >
                Add New Employee
              </h3>
              <form [formGroup]="AddEmployee" (submit)="OnSubmit($event)">
                <h4 class="mb-4 pb-0 pb-md-0 mb-md-2">Basic Information:</h4>
                <div class="row">
                  <input
                  type="text"
                  id="id"
                  class="form-control form-control-lg"
                  name="id"
                  formControlName="id"
                  hidden
                />
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="FirstName">First Name</label>
                      <input
                        type="text"
                        id="firstName"
                        class="form-control form-control-lg"
                        name="firstName"
                        formControlName="firstName"
                      />
                    </div>
                    <div *ngIf="controls.firstName.touched || submitted">
                      <p
                        *ngIf="controls.firstName.hasError('required')"
                        class="text-danger"
                      >
                        First Name is required.
                      </p>
                    </div>
                  </div>
  
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="lastName">Last Name</label>
                      <input
                        type="text"
                        id="lastName"
                        class="form-control form-control-lg"
                        name="lastName"
                        formControlName="lastName"
                      />
                    </div>
                    <div *ngIf="controls.lastName.touched || submitted">
                      <p
                        *ngIf="controls.lastName.hasError('required')"
                        class="text-danger"
                      >
                        "Last Name is required.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="address">country</label>
                      <input
                        type="text"
                        id="country"
                        class="form-control form-control-lg"
                        name="country"
                        formControlName="country"
                      />
                    </div>
                    <div *ngIf="controls.country.touched || submitted">
                      <p
                        *ngIf="controls.country.hasError('required')"
                        class="text-danger"
                      >
                        Country is required.
                      </p>
                      <p
                        *ngIf="controls.country.hasError('maxlength')"
                        class="text-danger"
                      >
                        Country cannot exceed 30 characters.
                      </p>
                    </div>
                  </div>
                  <div class="col-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="nationalID"
                        >national ID</label
                      >
                      <input
                        type="text"
                        id="nationalId"
                        class="form-control form-control-lg"
                        name="nationalId"
                        formControlName="nationalId"
                      />
                    </div>
                    <div *ngIf="controls.nationalId.touched || submitted">
                      <p
                        *ngIf="controls.nationalId.hasError('required')"
                        class="text-danger"
                      >
                        National ID is required.
                      </p>
                      <p
                        *ngIf="controls.nationalId.hasError('pattern')"
                        class="text-danger"
                      >
                        National ID must be exactly 14 numeric characters.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="Address">City</label>
                      <input
                        type="text"
                        id="city"
                        class="form-control form-control-lg"
                        name="city"
                        formControlName="city"
                      />
                    </div>
                    <div *ngIf="controls.city.touched || submitted">
                      <p
                        *ngIf="controls.city.hasError('required')"
                        class="text-danger"
                      >
                        City is required.
                      </p>
                      <p
                        *ngIf="controls.country.hasError('maxlength')"
                        class="text-danger"
                      >
                        City cannot exceed 30 characters.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <label
                      for="Gender"
                      class="form-label select-label me-3 d-block"
                      >Gender</label
                    >
                    <select id="gender" name="gender" class="select form-control-lg w-100" formControlName="gender">
                      <option value="" disabled>Select Gender</option>
                      <option [value]="'Male'" [selected]="employee?.gender === 'Male'">Male</option>
                      <option [value]="'Female'" [selected]="employee?.gender === 'Female'">Female</option>
                    </select>
                    <div *ngIf="controls.gender.touched || submitted">
                      <p
                        *ngIf="controls.gender.hasError('required')"
                        class="text-danger"
                      >
                        Gender is required
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="nationality"
                        >Nationality</label
                      >
                      <input
                        type="text"
                        id="nationality"
                        class="form-control form-control-lg"
                        name="nationality"
                        formControlName="nationality"
                      />
                    </div>
                    <div *ngIf="controls.nationality.touched || submitted">
                      <p
                        *ngIf="controls.nationality.hasError('required')"
                        class="text-danger"
                      >
                        Nationality is required
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <label class="form-label" for="birthDate">Birth Date</label>
                    <input
                      class="form-control form-control-lg"
                      id="birthDate"
                      type="date"
                      name="birthDate"
                      formControlName="birthDate"
                    />
                    <div *ngIf="controls.birthDate.touched || submitted">
                      <p
                        *ngIf="controls.birthDate.hasError('required')"
                        class="text-danger"
                      >
                        BirthDate is required
                      </p>
                    </div>
                  </div>
                </div>
  
                <h4 class="mb-4 pb-0 pb-md-0 mb-md-2">Work Information:</h4>
  
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="salary">Salary</label>
                      <input
                        type="number"
                        id="salary"
                        class="form-control form-control-lg"
                        name="salary"
                        formControlName="salary"
                      />
                      <div *ngIf="controls.salary.touched || submitted">
                        <p
                          *ngIf="controls.salary.hasError('required')"
                          class="text-danger"
                        >
                          Salary is required
                        </p>
                        <p
                          *ngIf="controls.salary.hasError('min')"
                          class="text-danger"
                        >
                          Salary minium is 0
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <label class="form-label" for="hireDate">Hire Date</label>
                    <input
                      class="form-control form-control-lg"
                      id="hireDate"
                      type="date"
                      name="hireDate"
                      formControlName="hireDate"
                    />
                    <div *ngIf="controls.hireDate.touched || submitted">
                      <p
                        *ngIf="controls.hireDate.hasError('required')"
                        class="text-danger"
                      >
                        HireDate is required
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-2 d-flex align-items-center">
                    <div class="form-outline datepicker w-100">
                      <label class="form-label" for="arrivalTime"
                        >Arrival Time</label
                      >
                      <input
                        type="time"
                        id="arrivalTime"
                        class="form-control form-control-lg"
                        name="arrivalTime"
                        formControlName="arrivalTime"
                      />
                      <div *ngIf="controls.arrivalTime.touched || submitted">
                        <p
                          *ngIf="controls.arrivalTime.hasError('required')"
                          class="text-danger"
                        >
                          Arrival Time is required
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2 d-flex align-items-center">
                    <div class="form-outline datepicker w-100">
                      <label class="form-label" for="leaveTime">Leave Time</label>
                      <input
                        type="time"
                        id="leaveTime"
                        class="form-control form-control-lg"
                        name="leaveTime"
                        formControlName="leaveTime"
                      />
                      <div *ngIf="controls.leaveTime.touched || submitted">
                        <p
                          *ngIf="controls.leaveTime.hasError('required')"
                          class="text-danger"
                        >
                          Leave Time is required
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <label
                      for="gender"
                      class="form-label select-label me-3 d-block"
                      >Department</label
                    >
                    <select
                      id="departmentId"
                      class="select form-control-lg w-100"
                      name="departmentId"
                      formControlName="departmentId"
                      
                    >
                      <option value="" disabled selected>
                        Select Department
                      </option>
                      <option [value]="d.id" *ngFor="let d of departments">
                        {{ d.name }}
                      </option>
                    </select>
                  </div>
                </div>
  
                <div class="mt-2 pt-2 d-flex justify-content-end">
                  <button class="btn btn-lg btn-primary" type="submit">
                    {{ employeeId >= 0 ?  "Edit":"Add"  }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  