<div class="container my-5 overflow-auto px-5">


    <h3 class="text-center mb-4">Departments</h3>
    <button class="btn btn-secondary mb-4" [routerLink]="['/Dashboard/Depatment/Add']" >Add New Department</button>
    <table
      
      datatable
      [dtOptions]="dtoption"
      class="table pt-3 table-light px-2"
      [dtTrigger]="dtTrigger"
      width="100%"
    >
      <thead>
        <tr>
          <th class="th-sm">Name</th>
          <th class="th-sm">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of departments,let i=index">
          <td>{{department.name }}</td>
  
          <td>
            <i class="bi bi-pencil-square text-primary mx-2" [routerLink]="['/Dashboard/Depatment/Edit',department.id]"></i>
            <i class="bi bi-trash3 text-danger mx-2" (click)="deletedept(department.id)" ></i>
          </td>
        </tr>
        
      </tbody>
     
    </table>
  </div>
  