<div class="container py-4 bg-light">
    <h3 class="text-center text-dark">
      Employee Attendance Report
    </h3>
  
    <div class="container mt-5 mb-2">
      <div class="d-flex justify-content-between">
        <div>
          <div class="d-flex">
            <!-- <button type="button" class="btn btn-primary btn-sm">Excel</button> -->
            <button
              type="button"
              class="btn btn-primary btn-sm "
              [routerLink]="['/Dashboard/Attendance/Add']"
            >
              Add Attendance
            </button>
          </div>
        </div>
        <div>
          <!-- <div class="d-flex justify-content-end">
            <div class="input-group">
              <input
                type="search"
                id="searchInput"
                placeholder="Search"
                class="form-control form-control-sm"
              />
              <button type="button" class="btn btn-primary">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div> -->
        </div>
      </div>
  
      <div class="row mt-2">
        <div class="col-md-6">
          <form>
            <div class="d-flex">
              <button type="button" class="btn btn-primary btn-sm me-2">
                From
              </button>
              <input
                class="form-control form-control-sm me-2"
                type="date"
                name="date"
              />
              <button type="button" class="btn btn-primary btn-sm me-2">
                To
              </button>
              <input
                class="form-control form-control-sm me-2"
                type="date"
                name="date"
              />
              <button type="button" class="btn btn-primary btn-sm me-2">
                Show
              </button>
            </div>
          </form>
        </div>
  
        <div class="col-md-4">
          <div class="d-flex justify-content-end">
            <i class="bi bi-file-earmark-pdf h3 mx-2 text-danger"></i>
            <i class="bi bi-printer h3 text-primary"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="container overflow-auto">


<!-- table -->

<table
      id="dt-filter-select"
      [dtTrigger]="dtTrigger"
      datatable
      [dtOptions]="dtoption"
      class="table pt-3 table-light"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          <th class="th-sm"></th>
          <th class="th-sm">Department</th>
          <th class="th-sm">Employee Name</th>
          <th class="th-sm">ArrivalTime</th>
          <th class="th-sm">LeaveTime</th>
          <th class="th-sm">Date</th>
          <th class="th-sm">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attend of attendanceReport">
          <td></td>
          <td>{{ attend.departmentName}}</td>
          <td>{{ attend.employeeName }}</td>
          <td>{{ attend.arrivalTime }}</td>
          <td>{{ attend.leaveTime }}</td>
          <td>{{ attend.date }}</td>
          <td class="">
            <i
              class="bi bi-pencil-square text-primary mx-2"
              [routerLink]="['/Dashboard/Attendance/Edit',attend.id]"
            ></i>
            <i class="bi bi-trash3 text-danger " (click)="deleteAttendance(attend.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  